# This file can update the JupyterHub Helm chart's default configuration values.
#
# For reference see the configuration reference and default values, but make
# sure to refer to the Helm chart version of interest to you!
#
# Introduction to YAML:     https://www.youtube.com/watch?v=cdLNKUoMc6c
# Chart config reference:   https://zero-to-jupyterhub.readthedocs.io/en/stable/resources/reference.html
# Chart default values:     https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/HEAD/jupyterhub/values.yaml
# Available chart versions: https://hub.jupyter.org/helm-chart/
#

# Minimal configuration for running JupyterHub with an in-memory SQLite database
# This is NOT suitable for production use! We use this for minikube and testing purposes only.
hub:
  db:
    type: sqlite-memory
  config:
    DummyAuthenticator:
      password: "jupyter"
    Authenticator:
      admin_users:
        - admin
      allowed_users:
        - admin
        - user1
        - user2
        - user3
      # Disable auto-adding users to the whitelist
      allow_all: false
    JupyterHub:
      authenticator_class: dummy

singleuser:
  storage:
    type: none